.root {
    height: 100%;
}
.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

.login-bg {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #56c7bb;
  padding: 20px; }


.login-card {
  max-width: 380px;
  width: 100%;
  background-color: #FFFFFF;
  padding: 40px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }
  @media (max-width: 640px) {
    .sign-log-card {
      padding: 20px; } }